In [4]:
import pandas as pd 
# Project DataFrame creation
project_data = {
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005', 'A002', 'A005', 'A003', 'A001', 'A003', 'A001', 'A004', 'A004', 'A005'],
    'Project': ['Project 1', 'Project 2', 'Project 3', 'Project 4', 'Project 5', 'Project 6', 'Project 7', 'Project 8', 'Project 9', 'Project 10', 'Project 11', 'Project 12', 'Project 13', 'Project 14'],
    # Note: I'll treat the missing value in Project 9 cost as 'NaN' for cleaning later
    'Cost': [1002000, 2000000, 4500000, 5500000, 'NaN', 680000, 400000, 350000, 'NaN', 300000, 2000000, 1000000, 3000000, 2000000],
    'Status': ['Finished', 'Ongoing', 'Finished', 'Ongoing', 'Finished', 'Failed', 'Failed', 'Failed', 'Ongoing', 'Finished', 'Failed', 'Ongoing', 'Finished', 'Finished']
}
ProjectDF = pd.DataFrame(project_data) # Create Project DataFrame

# Employee DataFrame creation
employee_data = {
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005'],
    'Name': ['John Alter', 'Alice Luxumberg', 'Tom Sabestine', 'Nina Adgra', 'Amy Johny'],
    'Gender': ['M', 'F', 'M', 'F', 'F'],
    'City': ['Paris', 'London', 'Berlin', 'Newyork', 'Madrid'],
    'Age': [25, 27, 29, 31, 30]
}
EmployeeDF = pd.DataFrame(employee_data) # Create Employee DataFrame

# Seniority Level DataFrame creation
seniority_data = {
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005'],
    'Designation Level': [2, 2, 3, 2, 3]
}
SeniorityDF = pd.DataFrame(seniority_data) # Create Seniority Level DataFrame
ProjectDF = pd.read_csv('Project.csv') # Load ProjectDF from CSV
EmployeeDF = pd.read_csv('Employee.csv') # Load EmployeeDF from CSV
SeniorityDF = pd.read_csv('Seniority.csv') # Load SeniorityDF from CSV

FileNotFoundError: [Errno 2] No such file or directory: 'Project.csv'

In [5]:
ProjectDF.to_csv('Project.csv', index=False)
EmployeeDF.to_csv('Employee.csv', index=False)
SeniorityDF.to_csv('Seniority.csv', index=False)

In [6]:
ProjectDF = pd.read_csv('Project.csv') # This line will now work
EmployeeDF = pd.read_csv('Employee.csv')
SeniorityDF = pd.read_csv('Seniority.csv')

In [7]:
print("--- ProjectDF (Before Task 2) ---")
print(ProjectDF.head(14)) # Print all 14 rows for full view
print("\nProjectDF Info:")
print(ProjectDF.info())

--- ProjectDF (Before Task 2) ---
      ID     Project       Cost    Status
0   A001   Project 1  1002000.0  Finished
1   A002   Project 2  2000000.0   Ongoing
2   A003   Project 3  4500000.0  Finished
3   A004   Project 4  5500000.0   Ongoing
4   A005   Project 5        NaN  Finished
5   A002   Project 6   680000.0    Failed
6   A005   Project 7   400000.0    Failed
7   A003   Project 8   350000.0    Failed
8   A001   Project 9        NaN   Ongoing
9   A003  Project 10   300000.0  Finished
10  A001  Project 11  2000000.0    Failed
11  A004  Project 12  1000000.0   Ongoing
12  A004  Project 13  3000000.0  Finished
13  A005  Project 14  2000000.0  Finished

ProjectDF Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   ID       14 non-null     object
 1   Project  14 non-null     object
 2   Cost     12 non-null     float64
 3   Status   14 non-null     object
dtypes: float64(1), object(3)
memory usage: 580.0+ bytes
None

In [8]:
# TASK 2: Replace missing values with running average using a for loop

# Step 2a: Convert the 'Cost' column to numeric, forcing the 'NaN' strings to actual numeric NaN
ProjectDF['Cost'] = pd.to_numeric(ProjectDF['Cost'], errors='coerce') 

# Initialize variables for calculating the running average
running_sum = 0.0 # Initialize sum of valid costs
running_count = 0 # Initialize count of valid costs

# Step 2b: Loop through each row of the DataFrame
for index, row in ProjectDF.iterrows():
    cost = row['Cost']
    
    # Check if the cost value is missing (NaN)
    if pd.isna(cost):
        # If a valid cost has been seen before (count > 0)
        if running_count > 0:
            # Calculate the current running average
            current_running_avg = running_sum / running_count
            
            # Use .loc to replace the missing value in the DataFrame
            ProjectDF.loc[index, 'Cost'] = current_running_avg
            print(f"Replaced NaN at Project: {row['Project']} with running average: {current_running_avg:.2f}")
            
        else:
            # If the very first value is NaN, we cannot calculate an average yet.
            print(f"Skipping replacement for {row['Project']}: No valid costs encountered yet.")
            
    else:
        # If the cost is a valid number, update the running sum and count
        running_sum += cost
        running_count += 1
        
print("\n--- ProjectDF After Task 2 ---")
print(ProjectDF)

Replaced NaN at Project: Project 5 with running average: 3250500.00
Replaced NaN at Project: Project 9 with running average: 2061714.29

--- ProjectDF After Task 2 ---
      ID     Project          Cost    Status
0   A001   Project 1  1.002000e+06  Finished
1   A002   Project 2  2.000000e+06   Ongoing
2   A003   Project 3  4.500000e+06  Finished
3   A004   Project 4  5.500000e+06   Ongoing
4   A005   Project 5  3.250500e+06  Finished
5   A002   Project 6  6.800000e+05    Failed
6   A005   Project 7  4.000000e+05    Failed
7   A003   Project 8  3.500000e+05    Failed
8   A001   Project 9  2.061714e+06   Ongoing
9   A003  Project 10  3.000000e+05  Finished
10  A001  Project 11  2.000000e+06    Failed
11  A004  Project 12  1.000000e+06   Ongoing
12  A004  Project 13  3.000000e+06  Finished
13  A005  Project 14  2.000000e+06  Finished

In [9]:
# Set Pandas to suppress scientific notation and show numbers with 2 decimal places
pd.set_option('display.float_format', '{:.2f}'.format) 

# Re-run this line to see the change
print(ProjectDF)

      ID     Project       Cost    Status
0   A001   Project 1 1002000.00  Finished
1   A002   Project 2 2000000.00   Ongoing
2   A003   Project 3 4500000.00  Finished
3   A004   Project 4 5500000.00   Ongoing
4   A005   Project 5 3250500.00  Finished
5   A002   Project 6  680000.00    Failed
6   A005   Project 7  400000.00    Failed
7   A003   Project 8  350000.00    Failed
8   A001   Project 9 2061714.29   Ongoing
9   A003  Project 10  300000.00  Finished
10  A001  Project 11 2000000.00    Failed
11  A004  Project 12 1000000.00   Ongoing
12  A004  Project 13 3000000.00  Finished
13  A005  Project 14 2000000.00  Finished

In [10]:
# Assuming EmployeeDF is loaded correctly from CSV

# TASK 3: Split Name Column

# Load the original EmployeeDF from CSV 
EmployeeDF = pd.read_csv('Employee.csv') 

# 1. Split the 'Name' column by space and assign the results to two new columns.
# 'expand=True' ensures the result is a DataFrame, making assignment easy.
EmployeeDF[['First Name', 'Last Name']] = EmployeeDF['Name'].str.split(' ', expand=True) 

# 2. Remove the original 'Name' column using the drop() method
EmployeeDF = EmployeeDF.drop(columns=['Name'])

# Display the updated DataFrame
print("--- EmployeeDF After Task 3 ---")
print(EmployeeDF.to_markdown(index=False))

# 3. Save the updated DataFrame (This is crucial for Task 4!)
EmployeeDF.to_csv('Employee_Updated.csv', index=False)

--- EmployeeDF After Task 3 ---
| ID   | Gender   | City    |   Age | First Name   | Last Name   |
|:-----|:---------|:--------|------:|:-------------|:------------|
| A001 | M        | Paris   |    25 | John         | Alter       |
| A002 | F        | London  |    27 | Alice        | Luxumberg   |
| A003 | M        | Berlin  |    29 | Tom          | Sabestine   |
| A004 | F        | Newyork |    31 | Nina         | Adgra       |
| A005 | F        | Madrid  |    30 | Amy          | Johny       |

In [11]:
# CODE FIX FOR SENIORITY.CSV
# 1. Create the Seniority Data Frame from the original data
seniority_data = {
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005'],
    'Designation Level': [2, 2, 3, 2, 3]
}
SeniorityDF = pd.DataFrame(seniority_data) 

# 2. SAVE it to the required CSV file
SeniorityDF.to_csv('Seniority.csv', index=False)

# 3. Now the file exists and we can proceed with Task 4!

In [12]:
import pandas as pd
import numpy as np

# Set Pandas option for clean numerical display
pd.set_option('display.float_format', '{:.2f}'.format) 

# --- RE-ESTABLISH DATA FILES (FIX) ---

# 1. ProjectDF (After Task 2: Imputed Costs)
project_data_updated = {
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005', 'A002', 'A005', 'A003', 'A001', 'A003', 'A001', 'A004', 'A004', 'A005'],
    'Project': ['Project 1', 'Project 2', 'Project 3', 'Project 4', 'Project 5', 'Project 6', 'Project 7', 'Project 8', 'Project 9', 'Project 10', 'Project 11', 'Project 12', 'Project 13', 'Project 14'],
    # Using the imputed float values
    'Cost': [1002000.00, 2000000.00, 4500000.00, 5500000.00, 3250500.00, 680000.00, 400000.00, 350000.00, 2061714.29, 300000.00, 2000000.00, 1000000.00, 3000000.00, 2000000.00],
    'Status': ['Finished', 'Ongoing', 'Finished', 'Ongoing', 'Finished', 'Failed', 'Failed', 'Failed', 'Ongoing', 'Finished', 'Failed', 'Ongoing', 'Finished', 'Finished']
}
ProjectDF = pd.DataFrame(project_data_updated)
ProjectDF.to_csv('Project_Updated.csv', index=False) # Create the updated file

# 2. EmployeeDF (After Task 3: Split Names)
employee_data_updated = {
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005'],
    'Gender': ['M', 'F', 'M', 'F', 'F'],
    'City': ['Paris', 'London', 'Berlin', 'Newyork', 'Madrid'],
    'Age': [25, 27, 29, 31, 30],
    'First Name': ['John', 'Alice', 'Tom', 'Nina', 'Amy'],
    'Last Name': ['Alter', 'Luxumberg', 'Sabestine', 'Adgra', 'Johny']
}
EmployeeDF = pd.DataFrame(employee_data_updated)
EmployeeDF.to_csv('Employee_Updated.csv', index=False) # Create the updated file

# 3. SeniorityDF (Original state, used Seniority.csv name)
seniority_data = {
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005'],
    'Designation Level': [2, 2, 3, 2, 3]
}
SeniorityDF = pd.DataFrame(seniority_data)
SeniorityDF.to_csv('Seniority.csv', index=False) # Create the missing file

# --- TASK 4: Join All DataFrames ---

# Load all required files (now guaranteed to exist)
ProjectDF_loaded = pd.read_csv('Project_Updated.csv') 
EmployeeDF_loaded = pd.read_csv('Employee_Updated.csv') 
SeniorityDF_loaded = pd.read_csv('Seniority.csv')

# 1. Merge EmployeeDF and SeniorityDF on the 'ID' column
MergedDF = pd.merge(EmployeeDF_loaded, SeniorityDF_loaded, on='ID', how='inner') 

# 2. Merge the result with ProjectDF on the 'ID' column to create FinalDF
FinalDF = pd.merge(MergedDF, ProjectDF_loaded, on='ID', how='inner') 

# Display the Final DataFrame structure
print("--- FinalDF After Task 4 (All Tables Joined) ---")
print(FinalDF.to_markdown(index=False))

# Save the Final DataFrame
FinalDF.to_csv('Final.csv', index=False)

--- FinalDF After Task 4 (All Tables Joined) ---
| ID   | Gender   | City    |   Age | First Name   | Last Name   |   Designation Level | Project    |             Cost | Status   |
|:-----|:---------|:--------|------:|:-------------|:------------|--------------------:|:-----------|-----------------:|:---------|
| A001 | M        | Paris   |    25 | John         | Alter       |                   2 | Project 1  |      1.002e+06   | Finished |
| A001 | M        | Paris   |    25 | John         | Alter       |                   2 | Project 9  |      2.06171e+06 | Ongoing  |
| A001 | M        | Paris   |    25 | John         | Alter       |                   2 | Project 11 |      2e+06       | Failed   |
| A002 | F        | London  |    27 | Alice        | Luxumberg   |                   2 | Project 2  |      2e+06       | Ongoing  |
| A002 | F        | London  |    27 | Alice        | Luxumberg   |                   2 | Project 6  | 680000           | Failed   |
| A003 | M        | Berlin  |    29 | Tom          | Sabestine   |                   3 | Project 3  |      4.5e+06     | Finished |
| A003 | M        | Berlin  |    29 | Tom          | Sabestine   |                   3 | Project 8  | 350000           | Failed   |
| A003 | M        | Berlin  |    29 | Tom          | Sabestine   |                   3 | Project 10 | 300000           | Finished |
| A004 | F        | Newyork |    31 | Nina         | Adgra       |                   2 | Project 4  |      5.5e+06     | Ongoing  |
| A004 | F        | Newyork |    31 | Nina         | Adgra       |                   2 | Project 12 |      1e+06       | Ongoing  |
| A004 | F        | Newyork |    31 | Nina         | Adgra       |                   2 | Project 13 |      3e+06       | Finished |
| A005 | F        | Madrid  |    30 | Amy          | Johny       |                   3 | Project 5  |      3.2505e+06  | Finished |
| A005 | F        | Madrid  |    30 | Amy          | Johny       |                   3 | Project 7  | 400000           | Failed   |
| A005 | F        | Madrid  |    30 | Amy          | Johny       |                   3 | Project 14 |      2e+06       | Finished |

In [17]:
# Assuming FinalDF is loaded from 'Final.csv'

# TASK 5: Add Bonus Column

# Calculate the bonus: 5% (0.05) of the 'Cost' for all projects
FinalDF['Bonus'] = FinalDF['Cost'] * 0.05

# Set the 'Bonus' to 0 for projects where 'Status' is NOT 'Finished'
# The '~' (tilde) means NOT. This is a very efficient way to apply a condition in Pandas.
FinalDF.loc[FinalDF['Status'] != 'Finished', 'Bonus'] = 0

# Display the relevant columns to verify the bonus calculation
print("\n--- FinalDF After Task 5 (Bonus Calculation) ---")
print(FinalDF[['Project', 'Status', 'Cost', 'Bonus']].head(7).to_markdown(index=False))

# Save the Final DataFrame
FinalDF.to_csv('Final_Updated_Task5.csv', index=False)

--- FinalDF After Task 5 (Bonus Calculation) ---
| Project    | Status   |             Cost |   Bonus |
|:-----------|:---------|-----------------:|--------:|
| Project 1  | Finished |      1.002e+06   |   50100 |
| Project 9  | Ongoing  |      2.06171e+06 |       0 |
| Project 11 | Failed   |      2e+06       |       0 |
| Project 2  | Ongoing  |      2e+06       |       0 |
| Project 6  | Failed   | 680000           |       0 |
| Project 3  | Finished |      4.5e+06     |  225000 |
| Project 8  | Failed   | 350000           |       0 |

In [18]:
import pandas as pd
import numpy as np

# --- 1. THE FIX: Set Pandas option for clean numerical display ---
# This applies the fix you asked for: showing large float numbers with 2 decimal places 
# instead of scientific notation (e.g., 1002000.00 instead of 1.002e+06)
pd.set_option('display.float_format', '{:.2f}'.format) 

# --- TASK 6: Demote and Delete Records ---

# Load the FinalDF updated after Task 5 (This is where the Cost column is located)
# We use the previous save point: Final_Updated_Task5.csv
FinalDF = pd.read_csv('Final_Updated_Task5.csv')

# 6a. Identify IDs of employees with "Failed" projects
failed_project_ids = FinalDF[FinalDF['Status'] == 'Failed']['ID'].unique()
print(f"IDs with Failed Projects (to be demoted): {failed_project_ids}")

# Create a mapping of current Designation Levels (one entry per employee ID)
Designation_Map = FinalDF[['ID', 'Designation Level']].drop_duplicates().set_index('ID')['Designation Level'].to_dict()

# Apply Demotion: Level increases by 1 for employees with failed projects
for emp_id in failed_project_ids:
    if emp_id in Designation_Map:
        current_level = Designation_Map[emp_id]
        # Demote: Level increases by 1 (e.g., 2 -> 3)
        Designation_Map[emp_id] = current_level + 1
        print(f"  Demoting {emp_id}: {current_level} -> {current_level + 1}")

# Update the 'Designation Level' column in the main FinalDF using the new map
FinalDF['Designation Level'] = FinalDF['ID'].map(Designation_Map)


# 6b. Delete employees whose Designation Level is now above 4
# Rule: "If anyone crosses 4 then he loses eligibility"
ineligible_ids = FinalDF[FinalDF['Designation Level'] > 4]['ID'].unique()

# Filter FinalDF to exclude rows belonging to ineligible IDs
FinalDF = FinalDF[~FinalDF['ID'].isin(ineligible_ids)]

print(f"\nIDs Deleted (Designation Level > 4): {ineligible_ids}")
print(f"FinalDF records remaining: {len(FinalDF)}")

print("\n--- FinalDF After Task 6 (Demotion and Deletion) ---")
# The Cost values will now be displayed cleanly!
print(FinalDF[['ID', 'First Name', 'Designation Level', 'Cost', 'Status']].to_markdown(index=False))

# Save the Final DataFrame
FinalDF.to_csv('Final_Updated_Task6.csv', index=False)

IDs with Failed Projects (to be demoted): ['A001' 'A002' 'A003' 'A005']
  Demoting A001: 2 -> 3
  Demoting A002: 2 -> 3
  Demoting A003: 3 -> 4
  Demoting A005: 3 -> 4

IDs Deleted (Designation Level > 4): []
FinalDF records remaining: 14

--- FinalDF After Task 6 (Demotion and Deletion) ---
| ID   | First Name   |   Designation Level |             Cost | Status   |
|:-----|:-------------|--------------------:|-----------------:|:---------|
| A001 | John         |                   3 |      1.002e+06   | Finished |
| A001 | John         |                   3 |      2.06171e+06 | Ongoing  |
| A001 | John         |                   3 |      2e+06       | Failed   |
| A002 | Alice        |                   3 |      2e+06       | Ongoing  |
| A002 | Alice        |                   3 | 680000           | Failed   |
| A003 | Tom          |                   4 |      4.5e+06     | Finished |
| A003 | Tom          |                   4 | 350000           | Failed   |
| A003 | Tom          |                   4 | 300000           | Finished |
| A004 | Nina         |                   2 |      5.5e+06     | Ongoing  |
| A004 | Nina         |                   2 |      1e+06       | Ongoing  |
| A004 | Nina         |                   2 |      3e+06       | Finished |
| A005 | Amy          |                   4 |      3.2505e+06  | Finished |
| A005 | Amy          |                   4 | 400000           | Failed   |
| A005 | Amy          |                   4 |      2e+06       | Finished |

In [19]:
import pandas as pd
# This sets the global display option for floats (Cost column)
pd.set_option('display.float_format', '{:.2f}'.format)

In [20]:
import pandas as pd

# Assume the display format setting (pd.set_option) has been run
# Load the FinalDF updated after Task 6
FinalDF = pd.read_csv('Final_Updated_Task6.csv')

# TASK 7: Add Title and Drop Gender

# 1. Add title 'Mr.' for Males ('M')
# Based on Employee Data, Gender 'M' corresponds to John (A001) and Tom (A003)
FinalDF.loc[FinalDF['Gender'] == 'M', 'First Name'] = 'Mr. ' + FinalDF['First Name']

# 2. Add title 'Mrs.' for Females ('F')
# Based on Employee Data, Gender 'F' corresponds to Alice (A002), Nina (A004), and Amy (A005)
FinalDF.loc[FinalDF['Gender'] == 'F', 'First Name'] = 'Mrs. ' + FinalDF['First Name']

# 3. Drop the original 'Gender' column
FinalDF = FinalDF.drop(columns=['Gender'])

# Display the relevant columns to verify (First Name now has the title, Gender is gone)
print("\n--- FinalDF After Task 7 (Titles Added & Gender Dropped) ---")
print(FinalDF[['ID', 'First Name', 'Last Name', 'Designation Level', 'Gender']].head(7).to_markdown(index=False))

# Save the Final DataFrame
FinalDF.to_csv('Final_Updated_Task7.csv', index=False)

--- FinalDF After Task 7 (Titles Added & Gender Dropped) ---

KeyError: "['Gender'] not in index"

In [21]:
import pandas as pd
import numpy as np

# 1. DISPLAY FIX: Set Pandas option for clean numerical display
pd.set_option('display.float_format', '{:.2f}'.format) 

# --- RE-ESTABLISH DATA (After Task 6) ---
# This ensures a clean and correct starting point for Task 7.

# Project Data (After Task 2: Imputed Costs)
project_data_updated = {
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005', 'A002', 'A005', 'A003', 'A001', 'A003', 'A001', 'A004', 'A004', 'A005'],
    'Project': ['Project 1', 'Project 2', 'Project 3', 'Project 4', 'Project 5', 'Project 6', 'Project 7', 'Project 8', 'Project 9', 'Project 10', 'Project 11', 'Project 12', 'Project 13', 'Project 14'],
    'Cost': [1002000.00, 2000000.00, 4500000.00, 5500000.00, 3250500.00, 680000.00, 400000.00, 350000.00, 2061714.29, 300000.00, 2000000.00, 1000000.00, 3000000.00, 2000000.00],
    'Status': ['Finished', 'Ongoing', 'Finished', 'Ongoing', 'Finished', 'Failed', 'Failed', 'Failed', 'Ongoing', 'Finished', 'Failed', 'Ongoing', 'Finished', 'Finished']
}

# Employee Data (After Task 3: Split Names) & Seniority Data (After Task 6: Demotion)
employee_data_seniority_updated = {
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005'],
    'Gender': ['M', 'F', 'M', 'F', 'F'],
    'City': ['Paris', 'London', 'Berlin', 'Newyork', 'Madrid'],
    'Age': [25, 27, 29, 31, 30],
    'First Name': ['John', 'Alice', 'Tom', 'Nina', 'Amy'],
    'Last Name': ['Alter', 'Luxumberg', 'Sabestine', 'Adgra', 'Johny'],
    # Designations AFTER Task 6 demotion (A001:3, A002:3, A003:4, A004:2, A005:4)
    'Designation Level': [3, 3, 4, 2, 4] 
}
EmployeeDF_Seniority_saved = pd.DataFrame(employee_data_seniority_updated)
MergedDF = pd.merge(EmployeeDF_Seniority_saved, pd.DataFrame(project_data_updated), on='ID', how='inner') 
MergedDF['Bonus'] = MergedDF['Cost'] * 0.05
MergedDF.loc[MergedDF['Status'] != 'Finished', 'Bonus'] = 0
FinalDF = MergedDF.copy() 

# --- TASK 7: Add Title and Drop Gender ---

# 1. Add title 'Mr.' for Males ('M')
FinalDF.loc[FinalDF['Gender'] == 'M', 'First Name'] = 'Mr. ' + FinalDF['First Name']

# 2. Add title 'Mrs.' for Females ('F')
FinalDF.loc[FinalDF['Gender'] == 'F', 'First Name'] = 'Mrs. ' + FinalDF['First Name']

# 3. Drop the original 'Gender' column
FinalDF = FinalDF.drop(columns=['Gender'])

# Display the relevant columns (FIXED: The 'Gender' column is removed from the print list)
print("\n--- FinalDF After Task 7 (Titles Added & Gender Dropped) ---")
print(FinalDF[['ID', 'First Name', 'Last Name', 'Designation Level', 'Cost']].head(7).to_markdown(index=False))

# Save the Final DataFrame
FinalDF.to_csv('Final_Updated_Task7.csv', index=False)

--- FinalDF After Task 7 (Titles Added & Gender Dropped) ---
| ID   | First Name   | Last Name   |   Designation Level |             Cost |
|:-----|:-------------|:------------|--------------------:|-----------------:|
| A001 | Mr. John     | Alter       |                   3 |      1.002e+06   |
| A001 | Mr. John     | Alter       |                   3 |      2.06171e+06 |
| A001 | Mr. John     | Alter       |                   3 |      2e+06       |
| A002 | Mrs. Alice   | Luxumberg   |                   3 |      2e+06       |
| A002 | Mrs. Alice   | Luxumberg   |                   3 | 680000           |
| A003 | Mr. Tom      | Sabestine   |                   4 |      4.5e+06     |
| A003 | Mr. Tom      | Sabestine   |                   4 | 350000           |

In [22]:
# Assuming FinalDF is loaded from 'Final_Updated_Task7.csv'

# TASK 8: Promote based on Age (> 29 years)

# Identify IDs of employees older than 29
# Employees are A004 (Age 31) and A005 (Age 30)
promote_ids = FinalDF[FinalDF['Age'] > 29]['ID'].unique()
print(f"IDs older than 29 (to be promoted): {promote_ids}")

# Create a mapping of current Designation Levels
Designation_Map = FinalDF[['ID', 'Designation Level']].drop_duplicates().set_index('ID')['Designation Level'].to_dict()

# Apply Promotion (Level decreases by 1, but must stop at Level 1)
for emp_id in promote_ids:
    if emp_id in Designation_Map:
        current_level = Designation_Map[emp_id]
        
        # Check if promotion is possible (level must be greater than 1)
        if current_level > 1:
            new_level = current_level - 1
            Designation_Map[emp_id] = new_level
            print(f"  Promoting {emp_id}: {current_level} -> {new_level}")
        else:
            print(f"  Skipping promotion for {emp_id}: Already at highest level (1).")

# Update the 'Designation Level' column in the main FinalDF using the new map
FinalDF['Designation Level'] = FinalDF['ID'].map(Designation_Map)


# Display the relevant columns to verify
print("\n--- FinalDF After Task 8 (Promotion Based on Age) ---")
print(FinalDF[['ID', 'First Name', 'Age', 'Designation Level']].head(7).to_markdown(index=False))

# Save the Final DataFrame
FinalDF.to_csv('Final_Updated_Task8.csv', index=False)

IDs older than 29 (to be promoted): ['A004' 'A005']
  Promoting A004: 2 -> 1
  Promoting A005: 4 -> 3

--- FinalDF After Task 8 (Promotion Based on Age) ---
| ID   | First Name   |   Age |   Designation Level |
|:-----|:-------------|------:|--------------------:|
| A001 | Mr. John     |    25 |                   3 |
| A001 | Mr. John     |    25 |                   3 |
| A001 | Mr. John     |    25 |                   3 |
| A002 | Mrs. Alice   |    27 |                   3 |
| A002 | Mrs. Alice   |    27 |                   3 |
| A003 | Mr. Tom      |    29 |                   4 |
| A003 | Mr. Tom      |    29 |                   4 |

In [23]:
# Assuming FinalDF is loaded from 'Final_Updated_Task8.csv'

# TASK 9: Aggregate Total Project Cost

# 1. Group the FinalDF by 'ID' and 'First Name' and sum the 'Cost' column.
# Reset the index to turn the grouped keys ('ID', 'First Name') back into columns.
TotalProjCostDF = FinalDF.groupby(['ID', 'First Name'], as_index=False)['Cost'].sum()

# 2. Rename the aggregated 'Cost' column to 'Total Cost' as required
TotalProjCostDF = TotalProjCostDF.rename(columns={'Cost': 'Total Cost'})

# Display the new DataFrame
print("\n--- TotalProjCost DataFrame After Task 9 ---")
print(TotalProjCostDF.to_markdown(index=False))

# Save the new DataFrame
TotalProjCostDF.to_csv('TotalProjCost.csv', index=False)

--- TotalProjCost DataFrame After Task 9 ---
| ID   | First Name   |   Total Cost |
|:-----|:-------------|-------------:|
| A001 | Mr. John     |  5.06371e+06 |
| A002 | Mrs. Alice   |  2.68e+06    |
| A003 | Mr. Tom      |  5.15e+06    |
| A004 | Mrs. Nina    |  9.5e+06     |
| A005 | Mrs. Amy     |  5.6505e+06  |

In [24]:
import pandas as pd
import numpy as np

# Set display option to ensure cost numbers are clear (if the environment allows)
pd.set_option('display.float_format', '{:.2f}'.format) 

# --- RE-ESTABLISH DATA (After Task 8 - Titles, Demotion, Promotion) ---
# NOTE: In your actual notebook, if you load 'Final_Updated_Task8.csv' this section 
# is simplified. Here, we rebuild the data for a guaranteed correct starting point.

employee_data_seniority_updated = {
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005'],
    'City': ['Paris', 'London', 'Berlin', 'Newyork', 'Madrid'], 
    'Age': [25, 27, 29, 31, 30],
    # Designation Levels after Task 8 promotion (A004: 1, A005: 3)
    'Designation Level': [3, 3, 4, 1, 3], 
    'First Name': ['Mr. John', 'Mrs. Alice', 'Mr. Tom', 'Mrs. Nina', 'Mrs. Amy'], # After Task 7 titles
    'Last Name': ['Alter', 'Luxumberg', 'Sabestine', 'Adgra', 'Johny']
}
employee_df = pd.DataFrame(employee_data_seniority_updated)
project_data_updated = {
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005', 'A002', 'A005', 'A003', 'A001', 'A003', 'A001', 'A004', 'A004', 'A005'],
    'Project': ['Project 1', 'Project 2', 'Project 3', 'Project 4', 'Project 5', 'Project 6', 'Project 7', 'Project 8', 'Project 9', 'Project 10', 'Project 11', 'Project 12', 'Project 13', 'Project 14'],
    'Cost': [1002000.00, 2000000.00, 4500000.00, 5500000.00, 3250500.00, 680000.00, 400000.00, 350000.00, 2061714.29, 300000.00, 2000000.00, 1000000.00, 3000000.00, 2000000.00],
    'Status': ['Finished', 'Ongoing', 'Finished', 'Ongoing', 'Finished', 'Failed', 'Failed', 'Failed', 'Ongoing', 'Finished', 'Failed', 'Ongoing', 'Finished', 'Finished']
}
project_df = pd.DataFrame(project_data_updated)
FinalDF = pd.merge(employee_df, project_df, on='ID', how='inner')


# --- TASK 10: Filter by City Containing 'o' ---

# Identify which rows have a 'City' name containing the letter 'o' (case-insensitive search)
# This filters for records where the city is 'London' or 'Newyork'.
filtered_df = FinalDF[FinalDF['City'].str.contains('o', case=False, na=False)]

# Print all employee details for the filtered records.
print("\n--- FinalDF After Task 10 (City contains 'o') ---")
print(filtered_df.to_markdown(index=False))

# Task 10 only requires printing, no saving is necessary.

--- FinalDF After Task 10 (City contains 'o') ---
| ID   | City    |   Age |   Designation Level | First Name   | Last Name   | Project    |         Cost | Status   |
|:-----|:--------|------:|--------------------:|:-------------|:------------|:-----------|-------------:|:---------|
| A002 | London  |    27 |                   3 | Mrs. Alice   | Luxumberg   | Project 2  |      2e+06   | Ongoing  |
| A002 | London  |    27 |                   3 | Mrs. Alice   | Luxumberg   | Project 6  | 680000       | Failed   |
| A004 | Newyork |    31 |                   1 | Mrs. Nina    | Adgra       | Project 4  |      5.5e+06 | Ongoing  |
| A004 | Newyork |    31 |                   1 | Mrs. Nina    | Adgra       | Project 12 |      1e+06   | Ongoing  |
| A004 | Newyork |    31 |                   1 | Mrs. Nina    | Adgra       | Project 13 |      3e+06   | Finished |

In [25]:
import pandas as pd
import numpy as np

# Set display option (as a best practice, even if sometimes ignored by the environment)
pd.set_option('display.float_format', '{:.2f}'.format) 

# --- RE-ESTABLISH DATA (After Task 8) ---
employee_data_seniority_updated = {
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005'],
    'Age': [25, 27, 29, 31, 30],
    'Designation Level': [3, 3, 4, 1, 3], 
    'First Name': ['Mr. John', 'Mrs. Alice', 'Mr. Tom', 'Mrs. Nina', 'Mrs. Amy'], 
    'Last Name': ['Alter', 'Luxumberg', 'Sabestine', 'Adgra', 'Johny']
}
employee_df = pd.DataFrame(employee_data_seniority_updated)
project_data_updated = {
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005', 'A002', 'A005', 'A003', 'A001', 'A003', 'A001', 'A004', 'A004', 'A005'],
    'Project': ['Project 1', 'Project 2', 'Project 3', 'Project 4', 'Project 5', 'Project 6', 'Project 7', 'Project 8', 'Project 9', 'Project 10', 'Project 11', 'Project 12', 'Project 13', 'Project 14'],
    'Cost': [1002000.00, 2000000.00, 4500000.00, 5500000.00, 3250500.00, 680000.00, 400000.00, 350000.00, 2061714.29, 300000.00, 2000000.00, 1000000.00, 3000000.00, 2000000.00],
    'Status': ['Finished', 'Ongoing', 'Finished', 'Ongoing', 'Finished', 'Failed', 'Failed', 'Failed', 'Ongoing', 'Finished', 'Failed', 'Ongoing', 'Finished', 'Finished']
}
project_df = pd.DataFrame(project_data_updated)
FinalDF = pd.merge(employee_df, project_df, on='ID', how='inner')


# --- TASK 9: Aggregate Total Project Cost ---

# 1. Group the FinalDF by 'ID' and 'First Name' and sum the 'Cost' column.
TotalProjCostDF = FinalDF.groupby(['ID', 'First Name'], as_index=False)['Cost'].sum()

# 2. Rename the aggregated 'Cost' column to 'Total Cost'
TotalProjCostDF = TotalProjCostDF.rename(columns={'Cost': 'Total Cost'})

# 3. GUARANTEED FORMAT FIX: Create a display-only column for clean printing
# This converts the float to a nicely formatted string with a comma as a thousands separator.
TotalProjCostDF['Total Cost Display'] = TotalProjCostDF['Total Cost'].apply(lambda x: f'{x:,.2f}')

# Display the new DataFrame using the clean display column
print("\n--- TotalProjCost DataFrame After Task 9 (Fixed Format) ---")
# Print only the required columns and the new clean display column
print(TotalProjCostDF[['ID', 'First Name', 'Total Cost Display']].to_markdown(index=False))

# Save the DataFrame with the actual float value (not the string display value)
TotalProjCostDF[['ID', 'First Name', 'Total Cost']].to_csv('TotalProjCost.csv', index=False)

--- TotalProjCost DataFrame After Task 9 (Fixed Format) ---
| ID   | First Name   | Total Cost Display   |
|:-----|:-------------|:---------------------|
| A001 | Mr. John     | 5,063,714.29         |
| A002 | Mrs. Alice   | 2,680,000.00         |
| A003 | Mr. Tom      | 5,150,000.00         |
| A004 | Mrs. Nina    | 9,500,000.00         |
| A005 | Mrs. Amy     | 5,650,500.00         |

In [27]:
import pandas as pd
import numpy as np

# Set display option (using the fixed format for numerical columns, though filtering is non-numerical)
pd.set_option('display.float_format', '{:,.2f}'.format) 

# --- RE-ESTABLISH DATA (FinalDF state after Task 8) ---
# This ensures we use the correct state with all modifications applied.
employee_data_seniority_updated = {
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005'],
    'City': ['Paris', 'London', 'Berlin', 'Newyork', 'Madrid'], # Original City Data
    'Age': [25, 27, 29, 31, 30],
    # Designations AFTER Task 8 promotion (A004: 1, A005: 3)
    'Designation Level': [3, 3, 4, 1, 3], 
    'First Name': ['Mr. John', 'Mrs. Alice', 'Mr. Tom', 'Mrs. Nina', 'Mrs. Amy'], # After Task 7 titles
    'Last Name': ['Alter', 'Luxumberg', 'Sabestine', 'Adgra', 'Johny']
}
employee_df = pd.DataFrame(employee_data_seniority_updated)

project_data_updated = {
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005', 'A002', 'A005', 'A003', 'A001', 'A003', 'A001', 'A004', 'A004', 'A005'],
    'Project': ['Project 1', 'Project 2', 'Project 3', 'Project 4', 'Project 5', 'Project 6', 'Project 7', 'Project 8', 'Project 9', 'Project 10', 'Project 11', 'Project 12', 'Project 13', 'Project 14'],
    # Cost values after Task 2 imputation
    'Cost': [1002000.00, 2000000.00, 4500000.00, 5500000.00, 3250500.00, 680000.00, 400000.00, 350000.00, 2061714.29, 300000.00, 2000000.00, 1000000.00, 3000000.00, 2000000.00],
    'Status': ['Finished', 'Ongoing', 'Finished', 'Ongoing', 'Finished', 'Failed', 'Failed', 'Failed', 'Ongoing', 'Finished', 'Failed', 'Ongoing', 'Finished', 'Finished']
}
project_df = pd.DataFrame(project_data_updated)
FinalDF = pd.merge(employee_df, project_df, on='ID', how='inner')


# --- TASK 10: Filter by City Containing 'o' ---

# Identify which rows have a 'City' name containing the letter 'o' (case=False makes it case-insensitive)
filtered_df = FinalDF[FinalDF['City'].str.contains('o', case=False, na=False)]

# Print all employee details for the filtered records.
print("\n--- FinalDF After Task 10 (City contains 'o') ---")
print(filtered_df.to_markdown(index=False))

# Task 10 only requires printing, not saving a new file.

--- FinalDF After Task 10 (City contains 'o') ---
| ID   | City    |   Age |   Designation Level | First Name   | Last Name   | Project    |         Cost | Status   |
|:-----|:--------|------:|--------------------:|:-------------|:------------|:-----------|-------------:|:---------|
| A002 | London  |    27 |                   3 | Mrs. Alice   | Luxumberg   | Project 2  |      2e+06   | Ongoing  |
| A002 | London  |    27 |                   3 | Mrs. Alice   | Luxumberg   | Project 6  | 680000       | Failed   |
| A004 | Newyork |    31 |                   1 | Mrs. Nina    | Adgra       | Project 4  |      5.5e+06 | Ongoing  |
| A004 | Newyork |    31 |                   1 | Mrs. Nina    | Adgra       | Project 12 |      1e+06   | Ongoing  |
| A004 | Newyork |    31 |                   1 | Mrs. Nina    | Adgra       | Project 13 |      3e+06   | Finished |

In [28]:
import pandas as pd
import numpy as np

# Set display option (using the fixed format)
pd.set_option('display.float_format', '{:,.2f}'.format) 

# --- RE-ESTABLISH DATA (FinalDF state after Task 8) ---
employee_data_seniority_updated = {
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005'],
    'City': ['Paris', 'London', 'Berlin', 'Newyork', 'Madrid'], 
    'Age': [25, 27, 29, 31, 30],
    'Designation Level': [3, 3, 4, 1, 3], 
    'First Name': ['Mr. John', 'Mrs. Alice', 'Mr. Tom', 'Mrs. Nina', 'Mrs. Amy'], 
    'Last Name': ['Alter', 'Luxumberg', 'Sabestine', 'Adgra', 'Johny']
}
employee_df = pd.DataFrame(employee_data_seniority_updated)
project_data_updated = {
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005', 'A002', 'A005', 'A003', 'A001', 'A003', 'A001', 'A004', 'A004', 'A005'],
    'Project': ['Project 1', 'Project 2', 'Project 3', 'Project 4', 'Project 5', 'Project 6', 'Project 7', 'Project 8', 'Project 9', 'Project 10', 'Project 11', 'Project 12', 'Project 13', 'Project 14'],
    'Cost': [1002000.00, 2000000.00, 4500000.00, 5500000.00, 3250500.00, 680000.00, 400000.00, 350000.00, 2061714.29, 300000.00, 2000000.00, 1000000.00, 3000000.00, 2000000.00],
    'Status': ['Finished', 'Ongoing', 'Finished', 'Ongoing', 'Finished', 'Failed', 'Failed', 'Failed', 'Ongoing', 'Finished', 'Failed', 'Ongoing', 'Finished', 'Finished']
}
project_df = pd.DataFrame(project_data_updated)
FinalDF = pd.merge(employee_df, project_df, on='ID', how='inner')


# --- TASK 10: Filter and Format Cost Column ---

# 1. Filter the data by city containing 'o'
filtered_df = FinalDF[FinalDF['City'].str.contains('o', case=False, na=False)].copy()

# 2. GUARANTEED FORMAT FIX: Create a display column for clean cost printing
# Apply the formatting function only to the records that passed the filter.
filtered_df['Cost Display'] = filtered_df['Cost'].apply(lambda x: f'{x:,.2f}')

# 3. Print the result, selecting the clean 'Cost Display' column
print("\n--- FinalDF After Task 10 (City contains 'o' - FIXED COST FORMAT) ---")
print(filtered_df[['ID', 'City', 'Age', 'Designation Level', 'First Name', 'Last Name', 'Project', 'Cost Display', 'Status']].to_markdown(index=False))

--- FinalDF After Task 10 (City contains 'o' - FIXED COST FORMAT) ---
| ID   | City    |   Age |   Designation Level | First Name   | Last Name   | Project    | Cost Display   | Status   |
|:-----|:--------|------:|--------------------:|:-------------|:------------|:-----------|:---------------|:---------|
| A002 | London  |    27 |                   3 | Mrs. Alice   | Luxumberg   | Project 2  | 2,000,000.00   | Ongoing  |
| A002 | London  |    27 |                   3 | Mrs. Alice   | Luxumberg   | Project 6  | 680,000.00     | Failed   |
| A004 | Newyork |    31 |                   1 | Mrs. Nina    | Adgra       | Project 4  | 5,500,000.00   | Ongoing  |
| A004 | Newyork |    31 |                   1 | Mrs. Nina    | Adgra       | Project 12 | 1,000,000.00   | Ongoing  |
| A004 | Newyork |    31 |                   1 | Mrs. Nina    | Adgra       | Project 13 | 3,000,000.00   | Finished |